%h1 Thank you for your purchase!
%p
  %strong
    Your invoice number is:
    %span{style: "color: red;"} 1104282104
  %br/
  %br/
  Your invoice is shown below, and you should receive an email confirmation shortly.
  %br/
  %br/
  Please note:
%ul{style: "max-width:800px;"}
  %li
    To view the status of any order, please visit your
    %a.bold{href: "http://loq.photoshelter.com/usr/pub-invoice-list", target: "_blank"} My Purchases
    page.
    %br/
    %br/
  %li
    Please read and respect the
    %a{href: "http://loq.photoshelter.com/support/license", target: "_blank"} Licensing Agreement
    for this content.
    %br/
    %br/
%a.bold{href: "http://loq.photoshelter.com"} Return to Homepage
%br/
%br/
%hr/
%input.f_right{onclick: "window.open('/usr/invoice/FO000l3RZu9Mxqc4?PRINT=1');", style: "position:relative;", type: "button", value: "Printable Version"}/
%h1 Invoice #1104282104
#psCart
  .psCartCheckoutContent
    %table.psCartInvoice
      %tr
        %th Order Date:
        %td Feb 22, 2014 10:06PM
      %tr
        %th Order Total:
        %td $4.70
      %tr
        %th Payment Method:
        %td
          Credit Card
          (Visa ********21499)
    .psCartCheckoutHeader Order Summary
    %table.psCartInvoice
      %tr
        %th Subtotal
        %td $0.75
      %tr
        %th Shipping
        %td $3.95
      %tr
        %th
          *Sales Tax
          .otNote
        %td $0.00
      %tr.otTotal
        %th Total
        %td $4.70
      %tr
        %th{style: "font-weight:normal;"}
          %span.grn Credit Card Payment 2014-02-22 (Received)
          %div
            Visa xxxxxxxxxxx21499
            %br/
            Transaction #ch_103XyX2sHmXQsrWkzBUcxxye
            %br/
        %td.grn -$4.70
    %table.psCartInvoiceCols
      %tr
        %td
          .psCartCheckoutHeader Sold To
          Renal Failure
          %br/
          %a{href: "mailto:loquaciousbuzz@gmail.com"} loquaciousbuzz@gmail.com
        %td.right
          .psCartCheckoutHeader Sold By
          Randal Maile
          %br>/
          3469 Bandini Ave
          %br/
          Riverside, CA &#160;92506
          %br/
          United States
          %br/
          %a{href: "mailto:loquaciousbuzz@gmail.com"} loquaciousbuzz@gmail.com
      %tr
        %td
          .psCartCheckoutHeader Shipping Address
          Randal Maile
          %br>/
          3469 Bandini Ave
          %br/
          Riverside, CA &#160;92506
          %br/
          United States
          %br/
        %td.right
          .psCartCheckoutHeader Shipping Method
          %div Shipment #1: USPS First-Class Mail (shipped in 2-4 business days)
          \&#187;
          %a.cartLink.bold{href: "/usr/order-tracking/FO000l3RZu9Mxqc4"} Track this order
    .psCartCheckoutHeader Items
    %table.psCartItems
      %tr
        %th Image &amp; Crop
        %th.desc Description
        %th Price
        %th Quantity
        %th{style: "text-align:right;"} Total
      %tr.hrBot
        %td{colspan: "7"}
          %div
      %tr
        %td.image{"data-crop" => "{\"CRP_ID\":\"CRP00tIRh6yMTJNk\",\"CRP_MODE\":\"A\",\"CRP_F_EDITABLE\":\"t\",\"CRP_X_ORIG\":\"0.0000\",\"CRP_Y_ORIG\":\"0.0259\",\"CRP_WIDTH\":\"1.0000\",\"CRP_HEIGHT\":\"0.9508\",\"CRP_PR_LONG\":\"7.00\",\"CRP_PR_OTHR\":\"5.00\",\"I_ID\":\"I00009mcmbuSZnqU\",\"I_HEIGHT\":\"1835\",\"I_WIDTH\":\"2448\",\"I_SCREEN_WIDTH\":\"1000\",\"I_SCREEN_HEIGHT\":\"750\",\"MIN_DIM\":{\"MIN_PX_LONG\":840,\"MIN_PX_SHORT\":600}}"}
          .cropTool
            .cropped
              %img{src: "https://c.photoshelter.com/img-get/I00009mcmbuSZnqU/t/200/I00009mcmbuSZnqU.jpg/1393124477"}/
              .mask
            .window
              %img{src: "https://c.photoshelter.com/img-get/I00009mcmbuSZnqU/t/200/I00009mcmbuSZnqU.jpg/1393124477"}/
            .warning
        %td.items
          .itemFilename
            %a{href: "http://loq.photoshelter.com/image/I00009mcmbuSZnqU", target: "_blank"} MyBuddy.jpg
          %div 5"x7" print
          %div
            Matte Finish
        %td.price
          $
          %span.fliUnitPrice 0.75
        %td.qty
          %strong 1
          %input{name: "FLI_ID[]", type: "hidden", value: "FLI00uW6fO8hw19U"}/
          %input{name: "FLI_QTY[]", type: "hidden", value: "1"}/
        %td.total
          %span.fliCurrency $
          %span.fliTotal 0.75
      %tr.hrBot
        %td{colspan: "7"}
          %div