%h1 Workbench#slideshow
.slideshow-wrapper 
  .preloader /
  %ul{"data-orbit" => ""}
    %li
      %img{src: "http://lorempixel.com/500/500/people/"}/
      .orbit-caption ...
    %li
      %img{src: "http://lorempixel.com/500/500/people/"}/
      .orbit-caption ...
    %li
      %img{src: "http://lorempixel.com/500/500/people/"}/
      .orbit-caption ...
