%form{action: "#", method: "post"}
  .row
    .small-2.columns
      %label{for: "name", class: "right inline"} Name:
    .small-4.columns
      %input#name{type: "text"}/
  .row
    .small-2.columns
      %label{for: "email", class: "right inline"} Name:
    .small-4.columns
      %input#name{type: "email"}/
  .row 
    .small-9.small-offset-3
      %button{type: "submit"} Send your message
