.row
  .large-12.columns
    %h2 Client Gallery - [NAME]
    %table{border: "0", cellpadding: "0", cellspacing: "0", summary: "A list of all galleries", width: "100%"}
      %caption
        Photos
      %thead
        %tr
          %th{scope: "col"} Image ID
          %th{scope: "col"} Thumbnail
          %th{scope: "col"} Name
          %th{scope: "col"} File Size
          %th{scope: "col"} Date Added
          %th{scope: "col"} Dimensions
          %th{scope: "col"} Added to Lightbox?
          %th{scope: "col"} Comments
          %th{scope: "col"} &#160;
          %th{scope: "col"} &#160;
          %th{scope: "col"} &#160;
      %tbody
        %tr
          %td 1111
          %td Thumnail.jpb
          %td My cool Photo
          %td 20 Mb
          %td 1/11/2011
          %td 100 X 100
          %td No
          %td This was one difficult photo to shoot
          %td 
            %a.tiny.button.success{href: "#"} Add to Lightbox
          %td 
            %a.tiny.button.secondary{href: "#"} Edit
          %td
            %a.tiny.button.alert{href: "#"} Delete
    %a.small.button.success{href: "#"} Upload new photo