-# navigation styled for Zurb Foundation 4
%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{href: "/"} Sahar Photography
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      = render "layouts/navigation_links_left"
    / Right Nav Section
    %ul.right
      = render "layouts/navigation_links_right"